h1 {
    text-align: center;
    background-color: #314e52;
    width: 500px;
    height: 100px;
}

div {
    width:  200px;
    height: 200px;
    background-color: #f2a154;
}

/* .first-section {
    width:  200px;
    height: 200px;
    background-color: #f2a154;
} */

/* #second-section {
    width: 200px;
    height: 200px;
    background-color: #f2a154;
} */